<div class="d-flex justify-content-center">
  <a href="/accounts/{{ accountId }}/prevMonth?month={{month}}&year={{year}}" class="arrow me-2">&lt;</a>
  <p>{{year}} 年 {{ month }} 月</p>
  <a href="/accounts/{{ accountId }}/nextMonth?month={{month}}&year={{year}}" class="arrow ms-2">&gt;</a>
</div>